/* Change the main primary color to #662D91 */
:root {
  --primary: #662D91;
}

.bg-primary,
.card-primary:not(.card-outline) > .card-header {
  background-color: #662D91 !important;
  color: #fff;
}

.btn-primary {
  background-color: #662D91 !important;
  border-color: #662D91 !important;
}

.btn-primary:hover {
  background-color: #57267B !important;
  border-color: #57267B !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #662D91 !important;
  color: #fff;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link:hover {
  background-color: #57267B !important;
}
